<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="bg-dark">
    <header>

    </header>
    <main>

        <div class="container-xxl Cuadro col-7 mt-5">
            <div class="row text-center title rounded-2 bg-dark ">
                <div class="col-3">
                    <img id="logo" src="/img/logo.png" alt="logo IPF">
                </div>
                <div class="col-9 mt-2">
                    <h3>Encuesta destinada a los Estudiantes de Desarrollo de Software</h3>
                </div>
            </div>

            <div class="container mt-5 col-8">   
                <form action="/record" id="formulario" method="POST">
        
                    <div class="form-group mt-4">
                        <label for="edad">Edad:</label>
                        <input type="number" min="17" class="mt-2 form-control" id="edad" name="edad" required>
                    </div>
        
                    <div class="form-group mt-3">
                        <label for="genero">Genero:</label><br>
                        <select class="form-select mt-2" name="genero" id="genero" required>
                            <option selected>Selecciona Genero</option>
                            <option value="1">Femenino</option>
                            <option value="2">Masculino</option>
                            <option value="3">Otro</option>
                        </select>
                    </div>

                    <div class="form-group mt-3">
                        <label for="localidad">Localidad:</label><br>
                        <select class="form-select mt-2" name="localidad" id="localidad" required>
                            <option selected>Selecciona Localidad</option>
                            <option value="1">Formosa</option>
                            <option value="2">Clorinda</option>
                            <option value="3">El Colorado</option>
                            <option value="4">Ingeniero Juarez</option>
                            <option value="5">Laguna Blanca</option>
                            <option value="6">Piraré</option>
                            <option value="7">Mayor Villafañe</option>
                            <option value="8">Las Lomitas</option>
                            <option value="9">General Manuel Gelgrano</option>
                            <option value="10">Laishí</option>
                            <option value="11">Herradura</option>
                            <option value="10">Palo Santo</option>
                            <option value="10">Ibarreta</option>
                        </select>
                    </div>
                    
                    <!-- PREGUNTA 1 -->
                    <div class="form-group mt-4">
                        <label for="pregunta1">Del 1 al 10 ¿Como calificarias nuestro Instituto Politecnico?</label>
                        <input type="number" min="1" max="10" class="mt-2 form-control" id="pregunta1" name="pregunta1" required>
                    </div>

                    <!-- PREGUNTA 2 -->
                    <div class="form-group mt-3">
                        <label for="pregunta2">¿Recomendarias nuestro Instituto a otros Estudiantes?</label><br>
                        <select class="form-select mt-2" name="pregunta2" id="pregunta2" required>
                            <option selected>Selecciona Respuesta</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>

                    <!-- PREGUNTA 3 -->
                    <div class="form-group mt-3">
                        <label for="pregunta3">¿Que tan satisfecho estas con las materias que brinda el Instituto?</label><br>
                        <select class="form-select mt-2" name="pregunta3" id="pregunta3" required>
                            <option selected>Selecciona Respuesta</option>
                            <option value="Excelente">Excelente</option>
                            <option value="Bueno">Bueno</option>
                            <option value="Aceptable">Aceptable</option>
                            <option value="Necesita Mejoras">Necesita Mejoras</option>
                        </select>
                    </div>

                    <!-- PREGUNTA 4 -->
                    <div class="form-group mt-3">
                        <label for="pregunta4">¿Que materia consideras que te brinda el mejor contenido?</label><br>
                        <select class="form-select mt-2" name="pregunta4" id="pregunta4" required>
                            <option selected>Selecciona Respuesta</option>
                            <option value="1">Matemáticas Aplicada</option>
                            <option value="2">Ingles</option>
                            <option value="3">Base de Datos</option>
                            <option value="4">Arquitectura y Sistemas Operativos</option>
                            <option value="5">Taller de Integración</option>
                            <option value="6">Tecnología y Sociedad</option>
                            <option value="7">Algoritmo y Estructura de Datos</option>
                            <option value="8">Ingeniería de Software</option>
                            <option value="9">Minería de Datos</option>
                            <option value="10">Taller de Lenguaje de Programación</option>
                            <option value="11">Orientación en Valores y Motivación</option>
                        </select>
                    </div>

                    <!-- PREGUNTA 5 -->
                    <div class="form-group mt-3">
                        <label for="pregunta5">¿Que materia consideras que tiene los mejores Profesores?</label><br>
                        <select class="form-select mt-2" name="pregunta5" id="pregunta5" required>
                            <option selected>Selecciona Respuesta</option>
                            <option value="1">Matemáticas Aplicada</option>
                            <option value="2">Ingles</option>
                            <option value="3">Base de Datos</option>
                            <option value="4">Arquitectura y Sistemas Operativos</option>
                            <option value="5">Taller de Integración</option>
                            <option value="6">Tecnología y Sociedad</option>
                            <option value="7">Algoritmo y Estructura de Datos</option>
                            <option value="8">Ingeniería de Software</option>
                            <option value="9">Minería de Datos</option>
                            <option value="10">Taller de Lenguaje de Programación</option>
                            <option value="11">Orientación en Valores y Motivación</option>
                        </select>
                    </div>

                    <!-- PREGUNTA 6 -->
                    <div class="form-group mt-3">
                        <label for="pregunta6">¿Cual es la materia de la cual aprendiste más?</label><br>
                        <select class="form-select mt-2" name="pregunta6" id="pregunta6" required>
                            <option selected>Selecciona Respuesta</option>
                            <option value="1">Matemáticas Aplicada</option>
                            <option value="2">Ingles</option>
                            <option value="3">Base de Datos</option>
                            <option value="4">Arquitectura y Sistemas Operativos</option>
                            <option value="5">Taller de Integración</option>
                            <option value="6">Tecnología y Sociedad</option>
                            <option value="7">Algoritmo y Estructura de Datos</option>
                            <option value="8">Ingeniería de Software</option>
                            <option value="9">Minería de Datos</option>
                            <option value="10">Taller de Lenguaje de Programación</option>
                            <option value="11">Orientación en Valores y Motivación</option>
                        </select>
                    </div>

                    <!-- PREGUNTA 7 -->
                    <div class="form-group mt-3">
                        <label for="pregunta7">¿Cual es la materia que tiene los peores profesores?</label><br>
                        <select class="form-select mt-2" name="pregunta7" id="pregunta7" required>
                            <option selected>Selecciona Respuesta</option>
                            <option value="1">Matemáticas Aplicada</option>
                            <option value="2">Ingles</option>
                            <option value="3">Base de Datos</option>
                            <option value="4">Arquitectura y Sistemas Operativos</option>
                            <option value="5">Taller de Integración</option>
                            <option value="6">Tecnología y Sociedad</option>
                            <option value="7">Algoritmo y Estructura de Datos</option>
                            <option value="8">Ingeniería de Software</option>
                            <option value="9">Minería de Datos</option>
                            <option value="10">Taller de Lenguaje de Programación</option>
                            <option value="11">Orientación en Valores y Motivación</option>
                        </select>
                    </div>
                    
                    <!-- PREGUNTA 8 -->
                    <div class="form-group mt-3">
                        <label for="pregunta8">¿Cual es la materia de la que menos aprendiste?</label><br>
                        <select class="form-select mt-2" name="pregunta8" id="pregunta8" required>
                            <option selected>Selecciona Respuesta</option>
                            <option value="1">Matemáticas Aplicada</option>
                            <option value="2">Ingles</option>
                            <option value="3">Base de Datos</option>
                            <option value="4">Arquitectura y Sistemas Operativos</option>
                            <option value="5">Taller de Integración</option>
                            <option value="6">Tecnología y Sociedad</option>
                            <option value="7">Algoritmo y Estructura de Datos</option>
                            <option value="8">Ingeniería de Software</option>
                            <option value="9">Minería de Datos</option>
                            <option value="10">Taller de Lenguaje de Programación</option>
                            <option value="11">Orientación en Valores y Motivación</option>
                        </select>
                    </div>

                    <!-- PREGUNTA 9 -->
                    <div class="form-group mt-3">
                        <label for="pregunta9">¿Como te gustaria que sea el cursado?</label><br>
                        <select class="form-select mt-2" name="pregunta9" id="pregunta9" required>
                            <option selected>Selecciona Respuesta</option>
                            <option value="Presencial">Presencial</option>
                            <option value="Online">Online</option>
                            <option value="Mixto">Mixto</option>
                        </select>
                    </div>

                    <!-- PREGUNTA 10 -->
                    <div class="form-group mt-3">
                        <label for="pregunta10">Si pudieras elegir un turno de cursado ¿Cual sería?</label><br>
                        <select class="form-select mt-2" name="pregunta10" id="pregunta10" required>
                            <option selected>Selecciona Respuesta</option>
                            <option value="Mañana">Mañana</option>
                            <option value="Tarde">Tarde</option>
                            <option value="Noche">Noche</option>
                        </select>
                    </div>

                    <!-- PREGUNTA 11 -->
                    <div class="form-group mt-4">
                        <label for="pregunta11">Si tuvieras que definir esta Tecnicatura con una palabra ¿Cual sería?</label>
                        <input type="text" class="mt-2 form-control" id="pregunta11" name="pregunta11" required>
                    </div>

                    <!-- PREGUNTA 12 -->
                    <div class="form-group mt-4">
                        <label for="pregunta12">¿Tenes alguna sugerencia para esta Tecnicatura?</label>
                        <input type="text" class="mt-2 form-control" id="pregunta12" name="pregunta12" required>
                    </div>
        
                    <button type="submit" class="btn btn-success mt-4">Enviar</button>
                </form>
            </div>
    </main>

    <div class="mt-5">

    </div>
</body>
<script src="js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>

</html>